canvas {
  margin-top: 68px;
}

html {
  font-family: Arial;
  height: 100%;

}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 33px;
  letter-spacing: 1px;
  margin-top: -15px;
  color:rgb(0, 0, 0);
}

h2 {
  font-size: 23px;
  margin-top: 65px;
  color:rgb(0, 0, 0);
}

h4 {
  font-size: 15px;
  margin-top: 90px;
  letter-spacing: 1px;
  color:rgb(0, 0, 0);
}